<h1>Edit Landmark</h1>

 <form method="post" action="/landmarks/<%= @landmark.id %>">
 <label>Name:</label>
 <input type="text" name="landmark[name]" value="<%= @landmark.name %>" id="name">
 <br></br>

 <label>Year Completed:</label>
 <input type="text" name="landmark[year_completed]" value="<%= @landmark.year_completed %>" id="year_completed">
  <br></br>


 <input type="submit" value="Edit Landmark">

 </form>